@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./bg-image2.jpg);
  /* background-size: cover; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 80%;
  font-family: "Poppins", sans-serif;

  max-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #342d2f;
}

.container {
  text-align: center;
  /* border: 2px solid black; */
  margin-left: 1rem;
  margin-right: 1rem;
  min-width: 25rem;
}

.event {
  margin-top: 1rem;
  font-size: 3rem;
  line-height: 3.3rem;
  text-transform: capitalize;
}

.timer div {
  display: flex;
  flex-direction: column;
  border: 2px solid #342d2f;
  padding: 0 -1rem;
}

.timer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* grid-auto-flow: row; */
  margin-top: 2rem;
  /* border: 10px solid black; */
}

.timer-out {
  height: 10rem;
  min-width: 10rem;
  max-width: 40rem;
  margin: 2rem 1rem;
  /* background-color: blue; */
  position: relative;
  align-content: center;
  justify-content: center;
  align-items: center;
  bottom: 12rem;
  left: 1.5rem;
  z-index: 10;
  font-size: 2rem;
  overflow-wrap: break-word;
  -webkit-animation: timeout 300ms 1;
  animation: timeout 300ms 1;
  /* text-indent: 6rem; */
  /* text-orientation: sideways-right; */
}

@-webkit-keyframes timeout {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes timeout {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

.text {
  margin-top: -2rem;
  font-size: 1.5rem;
}
.time {
  margin-bottom: 0.5rem;
  font-size: 3.5rem;
}

@media screen and (max-width: 400px) {
  .input-button {
    /* border: 1px solid #342d2f; */

    bottom: 3rem;
    right: 2rem;
  }
}
@media screen and (min-width: 600px) {
  body {
    background-image: url(./bg-image.jpg);
    background-position: center bottom;
  }
}

@media screen and (min-width: 1100px) {
  body {
    background-position: center top;
  }
  .time {
    font-size: 3.8rem;
  }
  .text {
    font-size: 2.3rem;
    margin-top: -1rem;
  }
  .timer div {
    border: none;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .timer {
    margin-top: 3rem;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .input-button {
    transform: translateY(-25rem);
  }
  .timer-out {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 1300px) {
  .time {
    font-size: 4.6rem;
  }
  .text {
    font-size: 2.7rem;
    margin-top: -1rem;
  }
  .timer div {
    padding: -1rem;
    border: none;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .timer {
    margin-top: 5rem;
    max-width: 50rem;
  }
}

.popup {
  position: absolute;

  border: 2px solid #342d2f;
  border-radius: 0.2rem;
  /* padding: 0.5rem 1rem; */
  background: linear-gradient(#f0efeb, #edede8);
  text-align: center;
  width: 25rem;
  /* max-width: 30rem; */
  top: 10rem;
  z-index: 100;
  -webkit-animation: fromtop 400ms 1;
  animation: fromtop 400ms 1;
}

@-webkit-keyframes fromtop {
  0% {
    transform: translateY(-20rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes fromtop {
  0% {
    transform: translateY(-20rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@-webkit-keyframes totop {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(-20rem);
  }
}
@keyframes totop {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(-20rem);
  }
}

.hidden {
  display: none;
  -webkit-animation: totop 400ms 1;
  animation: totop 400ms 1;
}
.custom {
  font-size: 2rem;
}
.popup div {
  margin-top: 0.7rem;

  /* font-size: 1.4rem; */
}

.input {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.input input:not(#submit) {
  height: 2rem;

  /* min-width: 10rem;*/
  max-width: 12rem;
  min-width: 12rem;
  font-size: 1.3rem;
  border: 1px solid #342d2f;
}
.input:focus {
  color: green;
  text-transform: inherit;
}
#submit {
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  max-width: 5rem;

  margin-top: 2rem;
  background: linear-gradient(#f0efeb, #edede8);
  font-family: inherit;
  cursor: pointer;
  outline: 2px solid #342d2f;
  border: none;
}

#submit:hover {
  background: #342d2f;
  color: rgb(206, 197, 197);
  transition: all ease-in-out 200ms;
  outline-offset: 0.1rem;
}
input:placeholder-shown {
  font-size: 1rem;
  font-family: inherit;
}

.form {
  display: flex;
  /* justify-content: space-between; */
  font-size: 1.3rem;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid black; */
}
.form div {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1fr;
  text-align: left;
}

.close {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  cursor: pointer;
  font-size: 1.3rem;
}

.close:hover {
  transform: scale(1.2);
}

.input-button {
  position: absolute;
  z-index: 30;
  /* border: 1px solid #342d2f; */
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  bottom: 10rem;
  right: 2rem;
  outline: 2px solid #342d2f;
}
.input-button:hover {
  background-color: #342d2f;
  color: rgb(206, 197, 197);
  transition: all ease-in-out 200ms;
  outline-offset: 0.1rem;
}
